.home-page {
    min-height: 100vh;
    background-color: #141414;
    color: #fff;
  }
  
  .logo-img {
    max-width: 250px;
    width: 100%;
  }
  
  h1 {
    font-size: 3rem;
    color: #fff;
  }
  
  h4 {
    color: #d1d1d1;
  }

  @keyframes bounceIn {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    60% {
      transform: scale(1.1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate-logo {
    animation: bounceIn 1.5s ease-in-out;
  }